@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    width: 100%;
    overflow-x: hidden;
  }

  #rootContainer:has(div.rg-modal) {
    overflow-y: hidden;
  }

  div,
  input,
  textarea {
    transition: background-color 0.2s ease;
  }

  .resume-template a {
    @apply hover:underline hover:text-blue-600
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    @apply cursor-pointer;
  }

  input[type="month"]::-webkit-calendar-picker-indicator {
    @apply cursor-pointer;
  }

  .resume-template ul {
    @apply list-disc;
  }

  .resume-template ul li {
    @apply ml-4
  }

  /* .resume-template ul li {
    display: flex;
  }

  .resume-template ul li::before {
    content: "";
    width: 3px;
    height: 3px;
    border: 2px solid black !important;
    border-radius: 50%;
    margin: 0.5rem 0.5rem 0 0;
  } */

  .bi-none {
    background-image: none !important;
  }

  @media print {

    body {
      min-width: fit-content !important;
    }

    .resume-template {
      box-shadow: none !important;
      padding: 0 !important;
      print-color-adjust: exact;
      scale: 1 !important;
    }

    .print-initial {
      display: initial !important;
      overflow: initial !important;
      height: initial !important;
      width: initial !important;
    }

    .print-break-avoid {
      break-inside: avoid;
      page-break-inside: avoid;
    }

    /* .rt-markdown>ul>li {
      break-inside: avoid;
      page-break-inside: avoid;
    } */

    .print-bg-color-reset {
      background-color: initial;
    }
  }

  #resumeGridTagFilter>[data-testid="flowbite-tooltip-target"] {
    @apply max-sm:w-full w-fit;
  }

}

.letter {
  width: 22cm !important;
  height: 28cm !important;
}

.letter-overflow {
  width: 22cm !important;
  min-height: 28cm !important;
}

.a4 {
  width: 21cm;
  height: 29.7cm;
}

.a4-overflow {
  width: 21cm;
  min-height: 29.7cm;
}

.a6 {
  width: 105mm;
  height: 148mm
}

.a6-overflow {
  width: 105mm;
  min-height: 148mm
}

.a7 {
  width: 74mm;
  height: 105mm;
}

.a7-overflow {
  width: 74;
  min-height: 105mm;
}

.a8 {
  width: 52mm;
  height: 74mm;
}

.a8-overflow {
  width: 52mm;
  min-height: 74mm;
}

.a9 {
  width: 37mm;
  height: 52mm;
}

.a9-overflow {
  width: 37mm;
  min-height: 52mm;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: rgb(156 163 175);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: transparent;
}

#rootContainer {
  scrollbar-gutter: stable;
}

/* .dark ::-webkit-scrollbar-thumb {
  background-color: rgb(107 114 128);
} */

@media (prefers-color-scheme: light) {

  /* Styles for light mode */

}

@media (prefers-color-scheme: dark) {

  /* Styles for dark mode */

}